## Book-Crossing Data Set

The Dataset can be downloaded from http://www2.informatik.uni-freiburg.de/~cziegler/BX/
Collected by Cai-Nicolas Ziegler in a 4-week crawl (August / September 2004) from the Book-Crossing community with kind permission from Ron Hornbaker, CTO of Humankind Systems. Contains 278,858 users (anonymized but with demographic information) providing 1,149,780 ratings (explicit / implicit) about 271,379 books.

Format
The Book-Crossing dataset comprises 3 tables.
BX-Users
Contains the users. Note that user IDs (`User-ID`) have been anonymized and map to integers. Demographic data is provided (`Location`, `Age`) if available. Otherwise, these fields contain NULL-values.

BX-Books
Books are identified by their respective ISBN. Invalid ISBNs have already been removed from the dataset. Moreover, some content-based information is given (`Book-Title`, `Book-Author`, `Year-Of-Publication`, `Publisher`), obtained from Amazon Web Services. Note that in case of several authors, only the first is provided. URLs linking to cover images are also given, appearing in three different flavours (`Image-URL-S`, `Image-URL-M`, `Image-URL-L`), i.e., small, medium, large. These URLs point to the Amazon web site.

BX-Book-Ratings
Contains the book rating information. Ratings (`Book-Rating`) are either explicit, expressed on a scale from 1-10 (higher values denoting higher appreciation), or implicit, expressed by 0.

## EDA

Do exploratory data analysis first

In [9]:
data_path='../../../data/BX-CSV-Dump/'
ratingfile=data_path + 'BX-Book-Ratings.csv'
bookfile=data_path + 'BX-Books.csv'

In [10]:
import pandas as pd
ratingsfile=pd.read_csv(ratingfile,sep=";",header=0,names=["user","isbn","rating"], encoding='iso-8859-1')

In [11]:
ratingsfile.head()

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [17]:
bookdetails = pd.read_csv(bookfile, sep=';', usecols = [0, 1, 2], names = ['isbn', 'title', 'author'], error_bad_lines=False, encoding='iso-8859-1')
bookdetails.head()

,isbn,title,author
0,ISBN,Book-Title,Book-Author
1,0195153448,Classical Mythology,Mark P. O. Morford
2,0002005018,Clara Callan,Richard Bruce Wright
3,0060973129,Decision in Normandy,Carlo D'Este
4,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata

## Use K-Nearest Neighbor

## Matrix Factorization Method using Stochastic Gradient Descent

## How to evaluate your model

## Issues, challenges and thoughts ?

### End Of Notebook